body,
html {
    width: 100%;
    height: 100%;
    /*margin: 0;*/
    scroll-behavior: smooth;
}


/* Set default styles for tab content */

.linkcontent {
    display: none;
    position: relative;
    animation-name: fade;
    animation-duration: 2s;
    -webkit-animation-name: fade;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
}

p {
    font-size: 2vw 1fr;
}

li p {
    font-size: 2vw 1fr;
    width:25% 1fr;
    border-radius:28px;
    background-color: #28282828;
}
ul
{
    padding:16px;
}
.dot
{
 padding:8px;   
 font-size: 20px;
 border-radius:28px;
}

.is_Offline{
padding:2px;
border-radius:28px;
border: 2px solid red;
box-shadow: 4px 4px 8px red, 0 0 25px red, 0 0 5px red;
text-shadow: 4px 4px 8px red, 0 0 25px red, 0 0 5px red;     
color: red;
}

.is_UnderConstruction{
padding:2px;
border-radius:28px;
overflow:hidden;
box-shadow: 4px 4px 8px orange, 0 0 25px orange, 0 0 5px orange;
text-shadow: 4px 4px 8px orange, 0 0 25px orange, 0 0 5px orange;     
color: orange;
}

.is_Online{
padding:2px;
border-radius:28px;
box-shadow: 4px 4px 8px lime, 0 0 25px lime, 0 0 5px lime;
text-shadow: 4px 4px 8px lime, 0 0 25px lime, 0 0 5px lime;     
color:lime;
}

.is_ComingSoon{
padding:2px;
border-radius:28px;
box-shadow: 4px 4px 8px aqua, 0 0 25px aqua, 0 0 5px aqua;
text-shadow: 4px 4px 8px aqua, 0 0 25px aqua, 0 0 5px aqua;     
color: aqua;
}

.is_Open{
padding:2px;
text-shadow: 4px 4px 8px lime, 0 0 25px lime, 0 0 5px lime;     
color:lime;
}

.is_Closed{
padding:2px;
text-shadow: 4px 4px 8px red, 0 0 25px red, 0 0 5px red;     
color:red;
}
.job_category
{
border: 2px solid #777;
padding:2px;
border-radius:28px;
color:linear-gradient(120deg, rgb(0, 132, 255),violet);
}
/* Style each tab content individually */

#Home .Header {
    background-color: rgb (0,0,0,0.1);
    background-size: 100%;
    color: #333;
    padding: 50px;
    text-align: center;
}

#Home .Main {
    background-image: linear-gradient(120deg, rgb(0, 132, 255),violet);
    color: #111;
    padding: 50px 10%;
    text-align: center;
}

.Main .box {
    box-shadow: 4px 4px 8px #111, 0 0 25px #222, 0 0 5px #444;

}
.Main svg {
    text-shadow: 4px 4px 8px #111, 0 0 25px #222, 0 0 5px #444;
    fill: #333 ;
}

#News .Header {
    background-color: rgba (0,0,0,0.1);
    color: #333;
    padding: 50px;
    text-align: center;
}

#News .Main {
    background-image: linear-gradient(120deg, rgb(0, 132, 255),violet);
    color: #111;
    padding: 50px 10%;
    text-align: left;
}


#Server .Header {
    background-color: rgba (0,0,0,0.1);
    color: #333;
    padding: 50px;
    text-align: center;
}

#Server .Main {
    background-image: linear-gradient(120deg, rgb(0, 132, 255),violet);
    color: #111;
    padding: 50px 10%;
    text-align: left;
}

#Jobs .Header {
    background-color: rgba (0,0,0,0.1);
    color: #333;
    padding: 50px;
    text-align: center;
}

#Jobs .Main {
    background-image: linear-gradient(120deg, rgb(0, 132, 255),violet);
    color: #111;
    padding: 50px 10%;
    text-align: left;

}

#About .Header {
    background-color: rgba (0,0,0,0.1);
    color: #333;
    padding: 50px;
    text-align: center;
}

#About .Main {
    background-image: linear-gradient(120deg, rgb(0, 132, 255),violet);
    color: #111;
    padding: 50px;
    text-align: left;
}


/* Style the navbar */

#navbar {
    z-index: 2;
    background-color: #00004d;
    overflow: hidden;
    justify-items: top;
    align-items: top;
    width: screen;
}

#navbar button.active {
    display: none;
    background-color: skyblue;
    color: rgb(0, 132, 255);
    padding: 16px;
    margin-right: 50;
    float: left;
}

#navbar s {
    display: block;
    color: whitesmoke;
    background-color: #444;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 4px 4px 8px aqua, 0 0 25px blue, 0 0 5px violet;
    font-size: 14px;
    float: left;
    padding: 16px;
}

#navbar s:hover {
    box-shadow: 4px 4px 8px violet, 0 0 25px blue 0 0 5px aqua;
    font-size: 16px;
    border-radius: 28px;
    transition: 0.5s;
}


/* Navbar links */

#navbar button.link {
    
    background-color: #00004d;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    color: #f2f2f2;
    text-align: center;
    overflow: initial;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    font-size: 17px;
    font-weight: bold;
    margin-left: 50;
    transition: .5s;
}

#navbar button.link:hover {
    border-left: 4px solid aqua;
}


/* Change background color of buttons on hover */

#navbar g {
    display: block;
    border-bottom: 2px solid aqua;
    color: rgb(0, 132, 255);
    text-align: center;
    padding: 16px;
    font-weight: bold;
    text-decoration: none;
    float: right;
} 
#navbar button.title {
        display:block;
        border: none;
        outline: none;
        cursor: pointer;
        color: #f2f2f2;
        text-align: center;
        padding: 0px;
        text-decoration: none;
        font-size: 17px;
    }
#navbar b {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    font-size: 24px;
    float: left;
}

#navbar button {
    background-color: #555;
    transition: 0.5s;
}

#navbar button:hover {
    border-left: 4px solid aqua;
    background-color: #777;
    transition: 0.5s;
}


/* Page content */

.content {
    padding: 16px;
    transition: 0.5s;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */

.sticky {
    background-color: rgb (255,255,255);
    overflow: initial;
    box-shadow: 4px 4px 8px #222, 0 0 25px #111, 0 0 5px #333;
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 60px;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: skyblue;
    border-left: 4px solid aqua;
    box-shadow: 4px 4px 8px #222, 0 0 25px #111, 0 0 5px #333;
    transition: 0.3s;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 32px;
    margin-left: 50px;
}

.sidenav .title {
    position: absolute;
    top: 0;
    left: -32px;
    font-size: 125%;
    margin-right: -50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left 0.5s;
    width: 100%;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 0;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 640px) {
    #navbar button.link {
        display: none;
        color: #f2f2f2;
        text-align: center;
        overflow: initial;
        padding: 16px;
        text-decoration: none;
        float: right;
        font-weight: bold;
        margin-left: 50;
    }
    #navbar button.title {
        border: none;
        outline: none;
        cursor: pointer;
        overflow: initial;
        display: none;
        color: #f2f2f2;
        text-align: center;
        padding: 0px;
        text-decoration: none;
    }
    #navbar g {
        display: none;
        border-bottom: 2px solid aqua;
        color: rgb(0, 132, 255);
        text-align: center;
        padding: 16px;
        font-weight: bold;
        text-decoration: none;
        float: right;
    }
    #navbar button:hover {
        border-left: 4px solid aqua;
        color: rgb(0, 132, 255);
        transition: 0.5s;
    }
    #navbar button.active {
        border: none;
        outline: none;
        cursor: pointer;
        display: block;
        background-color: skyblue;
        color: rgb(0, 132, 255);
        padding: 16px;
        margin-right: 50;
        float: left;
    }
    #navbar button.active:hover {
        background-color: rgb(0, 132, 255);
        color: skyblue;
        transition: 0.5s;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}